<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IWebServerSoap11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="IWebServerSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/axis2/services/IWebServer.IWebServerHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="IWebServerSoap11Binding"
        contract="IWebServer.IWebServerPortType" name="IWebServerHttpSoap11Endpoint" />
      <!--<endpoint address="http://localhost:8080/axis2/services/IWebServer.IWebServerHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="IWebServerSoap12Binding"
        contract="IWebServer.IWebServerPortType" name="IWebServerHttpSoap12Endpoint" />-->
    </client>
  </system.serviceModel>
</configuration>